:javascript
  $(function() {
    //$('#order_bill_address_attributes_state_name').removeClass('required');
    //$('#order_ship_address_attributes_state_name').removeClass('required');
    $('#order_bill_address_attributes_phone').removeClass('required');
    $('#order_ship_address_attributes_phone').removeClass('required');
  });

