:javascript

  $(function() {
    $('.ad-hoc-option-select').change(function() {
      updateAdHocImage();
    });
  });

  function compute_image_attributes() {
    var result = [];
    $("select.ad-hoc-option-select, input:checked.ad-hoc-option-select").each(function() {
      var id=$(this).attr('id').replace('ad_hoc_option_values_','');
      var val=$(this).val();
      result.push("attributes[" + id + "]=" + val);
    });
    return result.join('&');
  }

  function updateAdHocImage() {
    var attributes = compute_image_attributes();
    var product_name = $('#product_metadata').data('permalink');
    $('ul.thumbnails li').each(function() {
      var link = $(this).find('a');
      var image = $(this).find('img');
      var image_id = $(this).attr('data-image_id');
      if (!image_id) {
        var new_image_id = link.attr('href').split('/').pop().split('.')[0];
        $(this).attr('data-image_id', new_image_id)
        console.log('set to ' + new_image_id);
      }
      var image_id = $(this).attr('data-image_id');
      var product_image = '/products/' + product_name + '/images/' + image_id + '/product.png?' + attributes
      var thumb_image = '/products/' + product_name + '/images/' + image_id + '/mini.png?' + attributes
      link.attr('href', product_image);
      image.attr('src', thumb_image);
      if ($(this).hasClass('selected')) {
        $('#main-image img').attr('src', product_image);
        $("#main-image").data('selectedThumb', product_image);
      }
    });
  }


