#store_logo
  margin-top: 20px

#registration, #registration #account
  width: 100%

#existing-customer
  float: right

#footer_pusher
  height: 1em
  clear: both

.flags
  text-align: center
  img.flag
    margin: 0 7px 0 7px

.errorExplanation
  background-color: #fa0
  border-radius: 10px

  h2
    color: #fff

.clearer
  clear:both