body
  background: url(background.jpg) top center

#product-description, .content-main
  border-radius: 5px
  background-color: rgba(255,255,255,0.2)
  padding: 5px

.content-main, #checkout
  background-color: rgba(255,255,255,0.4)
  border-radius: 5px
  padding: 5px
  ol
    li
      margin-left: 30px

#main-image
  padding-top: 12px
  padding-left: 4px
  padding-right: 4px

#main-image, .tmb-all, .product-image
  border-radius: 5px

p.field.checkbox
  background-color: transparent

p.field
  font-size: 15px
  color: #333

span.price, #checkout-summary table tr[data-hook="item_total"] td:last-child strong, #checkout-summary table #summary-order-total, #order_details td.price span, #order_details td.total span, #order_summary td.price span, #order_summary td.total span, table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"], table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"], div[data-hook="inside_cart_form"] #subtotal span.order-total
  color: #333

a, #breadcrumbs li a
  color: #068

nav #main-nav-bar li#link-to-cart
  background: none
  a
    color: #068

ul#products li
  a
    color: #068
  .price
    color: #068
  a.info
    color: #068

#store_logo
  margin-top: 0px

#registration, #registration #account
  width: 100%

#existing-customer
  float: right

#footer_pusher
  height: 1em
  clear: both

.flags
  text-align: center
  img.flag
    margin: 0 7px 0 7px

.errorExplanation
  background-color: #fa0
  border-radius: 10px

  h2
    color: #fff

.clearer
  clear:both

ul#products li .product-image
  border: none
  padding: none