#ad_hoc_options
  float: left
  width: 270px
  dl
    dt
      height: 25px
      float: left
    dd
      float: right

.columns.five.alpha
  &[data-hook='product_price']
    float: right
    width: 210px

    #product-price
      margin-top: 24px

#product_metadata
  clear: both

#product-images
  #main-image
    min-height: 240px

    img
      min-height: 0
