- if item.variant.images.length == 0
  = link_to small_image(item.variant.product), variant.product
- else
  - image_name = File.basename(item.product.images.first.attachment_file_name, '.png')
  - custom_image_url = image_custom_product_path(id: item.product.permalink, image_id: image_name, size: :small, attributes: item.attributes)
  = link_to image_tag(custom_image_url), item.variant.product
